
:root {
	--dark:#1c3f60;
	--middark: #235079;
	--mid: #2e6599;
	--light:#7aa5cd;
	--gray:  #d9d9d9;
	--white: #eeeeee;
	--accent: #f28f2e;

  --foreground-rgb: var(--white);
  --background-element-color: var(--dark);
	--link-color: var(--white);
	--large-bubble-color: var(--light);
	--small-bubble-color: var(--middark);
	--small-bubble-hover-color: var(--mid);
	--small-bubble-text: var(--white);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: var(--link-color);
}

h1 {
	color: var(--white);
}

button {
	font-family: inherit !important;
  border-radius: 20px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 3px;
	width: fit-content;
	font-family: comfortaa, sans-serif;
	background-color: var(--small-bubble-color);
	color: var(--small-bubble-text);

}
button:hover {
	background-color: var(--small-bubble-hover-color);

}


html {
	background-color: var(--gray);
}
